@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
  color: #6c757d;
  height: 100%;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.75%;
  background: #b31919;
  z-index: 5;
}
.body{
  margin-top:5%;

}

.body-admin{
  background: ##b31919;
}
.title-a{
  text-decoration: none;
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
  color: #6c757d;
}
.listing{
  text-decoration: none;
  font-size: 1.3rem;
  color: #6c757d;
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #008CBA;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.button3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: extra bold;
  background-color: white;
  color: gray;
  border: 4px solid #008CBA;
}
.logo {
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
  float: left;
  margin-top: 10px;
}
.title{
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
  color: #6c757d;
}
.container{
  width: 80%;
  margin: 0 auto

}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

nav li{
  display: inline-block;
  position:relative;
  float:right;
}
/* Change the link color on hover */
nav li a:hover {
  background-color: #DCDCDC	;
  color: #b31919;
}
nav li a.active {
  color: white;
  background-color: #800000;

}
nav li a{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
  text-align: center;
  padding: 11.4px 16px;

}
/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
  font-weight: 300;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: 17px;
  text-align: center;

  padding: 16px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */

  border: none;
  outline: none;
  display: block;



}


/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: 300;

}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-weight: 300;

}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container-login{
  background: #fff;
  border-radius: 25px;
  border: 2px solid #b31919;

  padding: 20px;
  width: 420px;
  height: 350px;
}
.redirect-login{
  background: #fff;

  padding-top:10%!important;
  padding: 20px;
  width: 420px;
  height: 300px;
}
.container-register{
  background: #fff;
  border-radius: 25px;
  border: 2px solid #b31919;
  padding: 20px;
  width: 500px;
  height: 500px;
  overflow-y: scroll;
}
.form-group{
  margin-bottom: 1rem;
}
.form-control{
  width: 100%;
  padding: .375rem .75rem .375rem, .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;

}
.modal{
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 10;
   width: 100%;
   height: 100%;
   overflow: visible;
   background-color: rgba(0,0,0,0.4);
   padding-top: 10%;
   overflow-y: auto;
}

.modal-body{
    overflow-y: auto;
}
.container-host{
  margin-top: 3rem;
  width: 50%;
  padding: 10px;
  margin-left: 7rem;

}
.btn-host{
  background-color:#b31919;
  color: white;
  border-radius: 25rem;
  border-color: red;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;

}
form{
  background: #fff;
}
.btn{

  height:50px;
  width:75px;

  cursor:pointer;
  background-color: #b31919 ;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
}
.btn-brand{
  height:50px;
  width:100px;

  cursor:pointer;
  background-color: #b31919 ;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.8;
}
.alert-danger{
  color: #b31919;
  margin-bottom: 0;
}
.alert-success{
  color:green;
  margin-bottom: 0;
}
.img-fluid{
  height:15rem;
  width: 25rem;
}
.td-survey{
  width: 25rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 50px 400px;
  grid-template-rows: auto;
  grid-template-areas:
    "header header picture picture"
    "main main main main"
    "footer footer footer footer";
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  margin-top:100px;
  margin-left: 10%;
  margin-bottom: auto;
  width: 80%;

}
.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
.grid-container > div {
  background-color: #E8E8E8;
  padding: 20px 0;
}
.item1 {
  text-align: left;
  grid-area: header;
  padding-left:10% !important;

}
.item2{
  grid-area: picture;
  background-color: white !important;
}
.item3{
  grid-area: main;
  padding-left: 5% !important;
}
.item4{
  grid-area: sidebar;
}
.lodge{
  padding-top: 10%;
}
footer{
  position: fixed;
 bottom: 0;
}
.booking{
  background-color: white;
  border: 2px solid #E8E8E8;
  box-sizing: border-box !important;
  padding:24px !important;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50%;
  position: relative;

}
.booking-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top:0;
  margin-top: -2px;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: rgba(0,0,0,0.4);

  overflow-y: auto;

}
.price-booking{
    overflow-wrap: break-word !important;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 1.44444em !important;
    color: rgb(72, 72, 72) !important;
    margin: 0px !important;

}
.linebreak-booking{

    border-color: #EBEBEB !important;
    border: 1px solid;
    margin-top: 16px;
    margin-bottom: 16px;


}
.dates-booking{
  margin-top: 16px;
  margin-bottom: 8px;
}
.dates{
  font-size: 17px !important;
  font-weight: 200 !important;
  margin: 0px !important;
  padding: 0px 0px 4px !important;

}
.dates-input{
  /* width: 100%;
  padding: .375rem .75rem .375rem, .75rem; */
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;

  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  border-color: white !important;
  border-style: none !important;
}
.dates-calendar-border{

  display: table !important;
  table-layout: fixed !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(235, 235, 235) !important;
  border-image: initial !important;
  border-radius: 2px !important;
  border-right: 1px;
  font-size:1vw;
  width: 90%;
}
.calendar-table{
  /* display: table-row !important; */

}
.calendar-cell{
  display: table-cell !important;
}
.calendar{
    font-weight: normal !important;
    font-size: 17px !important;
    line-height: 24px !important;
    color: rgb(117, 117, 117) !important;
    position: relative !important;
    display: inline-block !important;
    width: 100% !important;
    vertical-align: middle !important;
    margin: 0px !important;
    padding: 8px !important;
    background: rgb(255, 255, 255) !important;
}
thead{
  background-color: #E8E8E8;
}
table {
  border-collapse: collapse;
  width: 100%;
}

.listings {
  padding: 10px;
  border: 1px solid grey;
  color:black;
}

.tbl_user_data, .tbl_request_data{
  margin: 10%;
  margin-top:5%;
}
.tbl_user_data tr:hover{
  background-color: #F2F2F2;
}
.announcement{
  margin: 10%;
  margin-bottom: 0%;
  color:#b31919;
  font-size: 20px;

}
.announcementImage{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  height:500px;
  display: none;
}
/* header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 400;
  color: #fff !important;
  text-decoration: none;
  display:inline-block;
  padding-top:0.3125rem;
  padding-bottom:0.3125rem;
  margin-right:1rem;
  margin-left: 1rem;
  font-size:1.25rem;
  line-height:inherit;
  white-space:nowrap;
}
.navbar{
   text-decoration: none;
   background: #A9A9A9;
   font-family: arial, sans-serif;
}
.navbar-brand{
  display:inline-block;
  padding-top:0.3125rem;
  padding-bottom:0.3125rem;
  margin-right:1rem;
  margin-left: 1rem;
  font-size:1.25rem;
  line-height:inherit;
  white-space:nowrap
}
.nav-link{
  color: #fff !important;
  text-decoration: none;
} */
/* @media (max-width:767.98px){.navbar-expand-md>.container,.navbar-expand-md>.container-fluid{padding-right:0;padding-left:0}}
@media (min-width:768px){.navbar-expand-md{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.navbar-expand-md .navbar-nav{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.navbar-expand-md .navbar-nav .dropdown-menu{position:absolute}
.navbar-expand-md .navbar-nav .dropdown-menu-right{right:0;left:auto}
.navbar-expand-md .navbar-nav .nav-link{padding-right:0.5rem;padding-left:0.5rem}
.navbar-expand-md>.container,.navbar-expand-md>.container-fluid{-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.navbar-expand-md .navbar-collapse{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;-ms-flex-preferred-size:auto;flex-basis:auto}.navbar-expand-md .navbar-toggler{display:none}.navbar-expand-md .dropup .dropdown-menu{top:auto;bottom:100%}}@media (max-width:991.98px){.navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid{padding-right:0;padding-left:0}} */
